@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.container-header{
    margin-top: -8%;
    color:transparent;
    position: fixed;
    width: 100%;
    height: 89px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    z-index: 100;
}
h1{
    position: absolute;
    margin-left: 3%;
    margin-top: -7%;
}
.blue-text{
    color: #28A9E1;
}
#logout{
    position: absolute;
    width: 80px;
    background-color: transparent;
    color: #2695c5;
    margin-top: 10%;
    margin-left: 94%;
    font-size: 14px;
    height: 30px;
}
#notifications{
    position: absolute;
    width: 120px;
    background-color: transparent;
    color: #2695c5;
    font-size: 14px;
    height: 30px;
    margin-top: 10%;
    margin-left: 85%;
}
#notifications-text{
    position: absolute;
    display: none;
    margin-left: 3.6%;
    margin-top: 1.5%;
    color: #373737;
    text-align: center;
}
p1{
    font-size: 30px;
    font-weight: bold;
    color: #28A9E1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8%;
}
.container-menu{
    position: relative;
    display: flex;
    width: 262px;
    height: 212px;
    background-color: #28A9E1;
    border-radius: 5px;
    cursor: pointer;
}
#encomendas{
    margin-left: 30%;
    margin-top: 4%;
    
}
#entregadores{
    margin-top: -13.3%;
   margin-left: 54%;
}
#entregadores-icon{
    margin-top: 12%;
    margin-left: 34%;
    width: 100px;
    height: 100px;
}
img{
    width: 90px;
    height: 90px;
}
#encomendas-icon{
    margin-top: 15%;
    margin-left: 30%;
}
#destinatarios{
    margin-top: 2%;
    margin-left: 30.1%;
}
#destinatario-icon{
    margin-top: 15%;
    margin-left: 28%;
}
#usuarios{
    margin-left: 54%;
    margin-top: -13.3%;
}
#users-icon{
    margin-top: 15%;
    margin-left: 35%;
}

p2{
    position: absolute;
    color: #fff;
    margin-top: 55%;
    margin-left: 28%;
}
#user{
    margin-left: 37%;
}
button{
    width: 225px;
    height: 39px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin-left:22%;
    margin-top: 10%;
    background-color: #28A9E1;
    border-radius: 5px;
    color: #fff;
    transition:margin-top 0.6  ease;
}
/* animations */ 

.container-menu:hover{
    background-color: #076CB5;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    font-weight: 600;
}
#logout:hover{
    border: none;
    color: #fff;
    background-color:#ED6464;
}
#notifications:hover{
    color: #fff;
    background-color: #FC810E;
}