@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.data-base-1{
    width: 900px;
     height: 53px; 
     background: #D9D9D9; 
     border-radius: 5px;     
     position: fixed;
     margin-left: 2%;
     z-index: 100;

}
input[type='text']{
    padding-top: 0.5cap;
}
p2{
    color: black;
    position: absolute;
    text-align: center;
    display: inline;
    font-weight: medium;
    margin-top: 14px;
}
.line-db{
    position: absolute;
    width: 32px; 
    height: 0px; 
    transform: rotate(90deg); 
    transform-origin: 0 0; 
    border: 1px #bebebe solid;
    margin-top: 10px;
}
#p4{
    margin-left: 14px;
}
#line-1{
    margin-left: 85px;
}
#p5{
    margin-left: 100px;
}
#line-2{
    
    margin-left: 250px;
}
#p6{
    
    margin-left: 265px;
}
#line-3{
    
    margin-left: 430px;
}
#p7{
    
    margin-left: 444px;
}
#line-4{
    
    margin-left: 550px;
}
#p8{
    
    margin-left: 565px;
}
#line-5{
    
    margin-left: 670px;
}
#p9{
    margin-left: 685px;
}
#line-6{
    margin-left: 790px;
}
.data-base-2{
    width: 900px;
     height: 53px; 
     background: #fff; 
     border-radius: 5px;     
     position: fixed;
     margin-left: 2%;
     z-index: 100;
     margin-top: 3.2%;
     z-index: 50;

}
input[type='text']{
    padding-top: 0.5cap;
}
p2{
    color: black;
    position: absolute;
    text-align: center;
    display: inline;
    font-weight: medium;
    margin-top: 14px;
}
.line-db1{
    position: absolute;
    width: 32px; 
    height: 0px; 
    transform: rotate(90deg); 
    transform-origin: 0 0; 
    border: 1px #bebebe solid;
    margin-top: 10px;
}
#line-11{
    margin-left: 85px;
}
#line-22{
    
    margin-left: 250px;
}
#line-33{
    
    margin-left: 430px;
}
#line-44{
    
    margin-left: 550px;
}
#line-55{
    
    margin-left: 670px;
}
#line-66{
    margin-left: 790px;
}
#p3{
    position: absolute;
    margin-top: 10%;
    margin-left: -6%;
}
.container-edit{
    width: 23px;
    height: 21px;
    background-color: #fff;
    margin-left: 89.3%;
    border-radius: 5px;
    margin-top: 1.65%;
}
.container-remove{
    width: 23px;
    height: 21px;
    background-color:#ffffff;
    margin-left: 95.5%;
    border-radius: 5px;
    margin-top: -2.3%;
}
#dif{
    background-color: #373737;
}
img{
    position: absolute;
    width: 19px;
    height: 19px;
   
}
#edit{
    margin-left: 89.5%;
    margin-top: -2.2%;
}
#remove{
    margin-left: 95.7%;
    margin-top: -2.2%;
}
#line-dif{
    margin-left: 845px;
    margin-top: -2.8%;
}