<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style\usuariosLayout.css">
</head>
<body>
    <h1>LAYOUTS</h1>
    <p1 id="p1">Sempre intercalar com um cinza escuro e branco. COMEÇAR COM CINZA ESCURO</p1><br><br>
    <p1>Usuários</p1>
    <div class="data-base">    
        <p2 id="p4">002124</p2>
        <div class="line-db" id="line-1"></div>
        <p2 id="p5">Nome</p2>
        <div class="line-db" id="line-2"></div>
        <p2 id="p6">Sobrenome</p2>
        <div class="line-db" id="line-3"></div>
        <p2 id="p7">129.888.987-00</p2>
        <div class="line-db" id="line-4"></div>
        <p2 id="p8">Masculino</p2>
        <div class="line-db" id="line-5"></div>
        <p2 id="p9">(48)999515068</p2>
        <div class="line-db" id="line-6"></div>
        <p2 id="p10">email@email.com</p2>
        <div class="line-db" id="line-6"></div>
        <div class="line-db" id="line-7"></div>
    </div>
    <div class="data-base-1">    
        <p2 id="p4">002124</p2>
        <div class="line-db1" id="line-11"></div>
        <p2 id="p5">Nome</p2>
        <div class="line-db1" id="line-22"></div>
        <p2 id="p6">Sobrenome</p2>
        <div class="line-db1" id="line-33"></div>
        <p2 id="p7">129.888.987-00</p2>
        <div class="line-db1" id="line-44"></div>
        <p2 id="p8">Masculino</p2>
        <div class="line-db1" id="line-55"></div>
        <p2 id="p9">(48)999515068</p2>
        <div class="line-db1" id="line-66 "></div>
        <p2 id="p10">email@email.com</p2>
        <div class="line-db1" id="line-66 "></div>
        <div class="line-db1" id="line-77"></div>
    </div>
</body>
</html>