<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style\entregadoresLayout.css">
</head>
<body>
    <h1>LAYOUTS</h1>
    <p1 id="p1">Sempre intercalar com um cinza escuro e branco. COMEÇAR COM CINZA ESCURO</p1><br><br>
    <p1>Entregadores:</p1>
    <div class="data-base-2">    
        <p2 id="p4">002124</p2>
        <div class="line-db-over" id="line-1"></div>
        <p2 id="p5">Nome do entre...</p2>
        <div class="line-db-over" id="line-2"></div>
        <p2 id="p6">(48) 99951-5068</p2>
        <div class="line-db-over" id="line-3"></div>
        <p2 id="p7">FIT Honda</p2>
        <div class="line-db-over" id="line-4"></div>
        <p2 id="p8">AAA-0000</p2>
        <div class="line-db-over" id="line-5"></div>
        <p2 id="p9">Em análise</p2>
        <div class="line-db-over" id="line-6"></div>
        <div class="container-edit"></div>
        <img id='edit'src="style\edit-icon-grey.png">
        <div class="line-db-over" id="line-dif"></div>
        <div class="container-remove"></div>
        <img id="remove" src="style\remove-icon-red.png">
    </div>
    <div class="data-base-2">    
        <p2 id="p4">002124</p2>
        <div class="line-db1" id="line-11"></div>
        <p2 id="p5">Nome do entre...</p2>
        <div class="line-db1" id="line-22"></div>
        <p2 id="p6">(48) 99951-5068</p2>
        <div class="line-db1" id="line-33"></div>
        <p2 id="p7">FIT Honda</p2>
        <div class="line-db1" id="line-44"></div>
        <p2 id="p8">AAA-0000</p2>
        <div class="line-db1" id="line-55"></div>
        <p2 id="p9">Em análise</p2>
        <div class="line-db1" id="line-66"></div>
        <div class="container-edit" id="dif"></div>
        <img id='edit'src="style\edit-icon-white.png">
        <div class="line-db" id="line-dif"></div>
        <div class="container-remove" id="dif"></div>
        <img id="remove" src="style\remove-icon-red.png">
    </div>
</body>
</html>