@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.container{
    position: fixed;
    width: 102px; 
    height: 856px; 
    background: #28A9E1;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}
h1{
    position: absolute;
    margin-left: 10%;
    margin-top: 1.5%;
}
.blue-text{
    color: #28A9E1;
}

.circle{
    position: absolute;
    background-color: #373737;
    width: 79px;
    height: 79px; 
    border-radius: 50%;
    margin-top: 50%;
    margin-left: 7%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    z-index:200;
}
#user-icon{
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 400;
    margin-left: 22%;
    margin-top: 64%;
}
#delivery-icon{
    position: absolute;
    margin-top: 390%;
    margin-left: 24%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
#logout-icon{
    position: absolute;
    margin-top: 530%;
    margin-left: 30%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
#gear-icon{
    position: absolute;
    margin-top: 460%;
    margin-left: 25%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.menu-container{
    position:absolute;
    display: inline;
}
a{
    position: absolute;
    margin-right: 10px;
    margin-left: 10%;
    margin-top: 7%;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    list-style: none;
}
#p1{
    color: #28A9E1 ;
    font-weight: 500;
}
#p2{
    margin-left: 23%;
}
#p3{
    margin-left: 36%;
}
#research{
    position: absolute;
    width: 532px; 
    height: 38px; 
    background: transparent; 
    border-radius: 10px; 
    margin-top: 11.5%;
    margin-left: 12.5%;
}
input::placeholder{
    margin-left: 10%;
}

.icon-research{
    width: 588px; 
    height: 41px; 
    position: absolute;
    border-radius: 10px; 
    border: 3px #D9D9D9 solid;
    margin-top: 11.5%;
    margin-left: 9%;
}

.data-base{
    width: 800px;
     height: 58px; 
     background: #D9D9D9; 
     border-radius: 5px;
     margin-top: 16%;     
     margin-left: 9%;
     position: fixed;

}
button{
    position: fixed;
    width: 140px;
    height: 30px;
    background: transparent; 
    border-radius: 5px; 
    border: 2px #9E9E9E solid;
    text-decoration: none;
    font-size: large;
    padding-left: 2cap;
    font-weight:400;
    font-size: 14px;
}
#add{
    position: absolute;
    margin-top: 2%;
    margin-left: 110%;
}
#remove{
    position: absolute;
    margin-top: 2%;
    margin-left: 135%;
}
#research-icon{
    margin-top: 0.5%;
    margin-left: 1%;
    width: 30px;
    height: 30px;
}
#add-icon{
    position: absolute;
    margin-left: 111.5%;
    margin-top: 2.4%;
    width: 23px;
    height: 23px;
}
#remove-icon{
    position: absolute;
    margin-left: 136.5%;
    margin-top: 2.5%;
    width: 20px;
    height: 20px;
}
input[type='text']{
    padding-top: 0.5cap;
}
p2{
    position: absolute;
    text-align: center;
    display: inline;
    font-weight: medium;
    margin-top: 16px;
}
.line-db{
    position: absolute;
    width: 46px; 
    height: 0px; 
    transform: rotate(90deg); 
    transform-origin: 0 0; 
    border: 1px #909090 solid;
    margin-top: 5px;
}
#p4{
    margin-left: 33px;
}
#line-1{
    margin-left: 85px;
}
#p5{
    margin-left: 115px;
}
#line-2{
    
    margin-left: 250px;
}
#p6{
    
    margin-left: 282px;
}
#line-3{
    
    margin-left: 430px;
}
#p7{
    
    margin-left: 465px;
}
#line-4{
    
    margin-left: 550px;
}
#p8{
    
    margin-left: 585px;
}
#line-5{
    
    margin-left: 670px;
}
#p9{
    
    margin-left: 705px;
}



/* animations */


#p2::after{
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    bottom: -14px;
    left: -14px;
    z-index: 300;
    transition: 0.5s ease-in-out;
    border: 2px #D7D7D7 solid;
}
#p2:hover::after{
   width: 120%;
   border: 2px #33E7A6 solid;
    
}
#p3::after{
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    bottom: -14px;
    left: -14px;
    z-index: 300;
    transition: 0.5s ease-in-out;
    border: 2px #D7D7D7 solid;
}
#p3:hover::after{
   width: 120%;
   border: 2px #33E7A6 solid;
}