@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #229B6F;
}
img{
    width: 185px;
    height: 120px;
    margin-top: 20%;
}
#user-icon{
    position: absolute;
    width: 80px; 
    height: 80px;
    margin-top: -7%;
    margin-left: 5.7%;
}
h1{
    margin-bottom: 60%;
    color: rgb(0, 0, 0);
    margin-left: 12%;
    font-weight: bolder;
}
.green-text{
    color: #33E7A6;
}
.container{
    background: white;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-left: -26%;
    margin-top: 38%;
}
.circle{
    position: absolute;
    background-color: #373737;
    width: 120px;
    height: 120px; 
    border-radius: 50%;
    margin-top: -8%;
    margin-left: 4.5%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}
.input-field input {
    outline: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    width: 100%;
    margin-bottom: 5%;
}

.input-field input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

form input[type="submit"] {
    margin-top: 2rem;
    padding: 0.6rem;
    width: 80%;
    background: linear-gradient(to left, #373737, #33E7A6);
    cursor: pointer;
    color: white;
    font-size: 1rem;
    font-weight:bold;
    border-radius: 15px;
    transition: all 0.3s ease;
    margin-bottom: 5%;
    margin-left: 10%;
}
.check-box{
    margin-top: 2%;
    font-size: 14px;
}
a{
    margin-left: 23%;
    font-weight: medium;
    font-size: 12px;
    text-decoration: none;
    color: #373737;
    
}
form input[type="text"] {
    background-color: #ebebeb;
    padding-left: 0.5cap;
    border-radius: 5;
}
form input[type="password"] {
    background-color: #ebebeb;
    padding-left: 0.5cap;
    border-radius: 5;
}
/* animations */ 

form input[type="submit"]:hover {
    letter-spacing: 0.5px;
    background: linear-gradient(to right, #373737, #33E7A6);
}